---
layout: default
---
<p style='text-align: left;'>
  Work in progress website, but the publications page is ready!
I am an experimental researcher specialising in phage-bacteria evolutionary interactions, currently employed as a postdoc in the research group of Carolin Wendling https://wendlinglab.owlstown.net/ at the Max von Pettenkofer Institut, LMU Munich, Germany https://www.mvp.uni-muenchen.de/ . Until Feb 2025, I worked at the<a
href="https://www.evolbio.mpg.de/3178548/group-micromolevol">Microbial Molecular Evolution</a> at the Max Planck Institute for Evolutionary Biology, where I also did my PhD. I often complement my
experimental research using tools from bioinformatics and mathematical modelling. I am better found at bluesky, link at the botton of the page --> <i class="svg-icon bluesky"></i>
</p>


trying to make this a markdown, while also adding links to my medium blog posts
add links to diversity books, preprint, interns?
------------------------------------------------------------------------------

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
